<div id="interviewComponent" class="interview-component">
    <form id="interviewComponentForm">
        <div class="interview-component__title">
            <div>Тема опроса</div>
            <button id="interviewComponentClose">x</button>
        </div>
        <input name="title" type="text" placeholer="Введите тему опроса">

        <div id="interviewComponentAnswers" class="interview-component__answers">
        <div>Варианты ответов</div>
            <div id="interviewComponentAnswers_1">
                <input name="answer1" type="text">
                {{!-- <button id="interviewComponentDelete_1">x</button> --}}
            </div>
        </div>
        <button id="interviewComponentAnswerAdd">Добавить ответ</button>
    </form>
</div>
