<div id="paymentComponentContainer" class="payment-component">
    <div class="payment-component__title-close">
        <div class="payment-component__title-close__title">Параметры оплаты</div>
        <button id="paymentComponentContainerCloseButton" class="payment-component__title-close__close">x</button>
    </div>
    <div class="payment-component__payment-form"></div>
</div>
