<div id="groupViewContainer">
    <div id="groupViewHeaderContainer"></div>

    <div id="groupViewBanner" class="group-view-banner">
        <div class="group-view-banner__items">
            <div id="groupViewBannerImage" class="group-view-banner__items__image"></div>
            <div id="groupViewBannerInfo" class="group-view-banner__items__info">
                <div>{{groupTitle}}</div>
                <div>{{groupCount}}</div>
            </div>
            <div id="groupViewBannerLinks" class="group-view-banner__items__links">
                <div>Посты</div>
                <div>Участники</div>
                <div>Настройки</div>
            </div>
        </div>
    </div>

    <div id="groupViewPostsContainer" class="group-view-posts-container">
        <div id="groupViewPostCreatePost" class="group-view-posts-container__create-post"></div>
        <div id="groupViewPostAllPosts"></div>
    </div>
</div>
